/* <style> */






.quary-input,
.quary-select,
.btn-grid {
  /* font-family: inherit; */
  font-size: 100%;

}


.btn-grid,
.quary-label {
  cursor: pointer;
}

.quary-select {
  appearance: none;
}

/* Remove native arrow on IE */
.quary-select::-ms-expand {
  display: none;
}

.quary-select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var red;
}





.container-quary {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
  padding-bottom: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.my-form-quary{
  font: 18px/1.5 "Open Sans", sans-serif;

  color: black;
  /* margin: 1.5rem 0; */
  background-color: white;
  padding-top:50px;
  padding-bottom:50px;
}
/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form-quary h1 {
  margin-bottom: 1.5rem;
}

.my-form-quary li,
.my-form-quary .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.my-form-quary select,
.my-form-quary .quary-input,
.my-form-quary textarea,
.my-form-quary .btn-grid {
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid #c22127; ;
  color: black;
  background: transparent;
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
    
}

.my-form-quary textarea {
  height: 150px;
}

.my-form-quary ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.my-form-quary select:focus,
.my-form-quary .quary-input:focus,
.my-form-quary textarea:focus,
.my-form-quary .btn-grid:enabled:hover,
.my-form-quary button:focus
{
  background: rgba(37, 28, 28, 0.21)
}

.my-form-quary .quary-select:focus,
.my-form-quary input:focus,
.my-form-quary textarea:focus {
  transform: scale(1.02);
}

.my-form-quary *:required,
.my-form-quary .quary-select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}

.my-form-quary *:required {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
}

.my-form-quary .quary-select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.my-form-quary *:disabled {
  cursor: default;
  filter: blur(4px);
}


/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form-quary .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
    no-repeat center left / 15px 15px;
  padding-left: 30px;
}

.my-form-quary .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
  background-color: #c22127;;
}

.my-form-quary ,.btn-grid {
  font-weight: bold;
}

.my-form-quary .btn-grid > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form-quary .btn-grid .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.my-form-quary .btn-grid:enabled:hover .back,
.my-form-quary button:focus .back {
  transform: translate(-50%, -50%);
  background-color:#b30e13;
  height:60px;
  padding-top: 20px;
 
}

.my-form-quary .btn-grid:enabled:hover .front,
.my-form-quary .btn-grid:focus .front {
  transform: translateX(110%);
}


/* CUSTOM CHECKBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form-quary input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.my-form-quary input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  /* margin-top: 2rem; */
  padding-left: 2rem;
  /* transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25); */
  background-color: transparent;
}

.my-form-quary input[type="checkbox"] + label::before,
.my-form-quary input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
}

.my-form-quary input[type="checkbox"] + label::before {
  left: 0;
  /* top: 6px; */
  width: 18px;
  height: 18px;
  border: 2px solid rgb(150, 12, 12);
}

.my-form-quary input[type="checkbox"]:checked + label::before {
  background: transparent;
  

}

.my-form-quary input[type="checkbox"]:checked + label::after {
  left: 7px;
  /* top: 7px; */
  width: 6px;
  height: 14px;
  border-bottom: 2px solid rgb(150, 12, 12);
  border-right: 2px solid rgb(109, 6, 6);
  transform: rotate(45deg);
}



/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
  .my-form-quary .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form-quary .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form-quary .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form-quary .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form-quary .required-msg {
    display: block;
  }
}

@media screen and (min-width: 541px) {
  .my-form-quary input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .my-form-quary input[type="checkbox"]:checked + label::after {
    top: 3px;
  }
}





.quary-input{
  border:2px solid red
}



/* </style> */
