
<div class="page-wrapper" >
    <footer class="footer" >
      <div class="container-footer">
        <div class="row-footer">
          <div class="footer-col-1">
            <h4>Contact</h4>
            <ul>
              <li><a href="#"><i class="fa fa-volume-control-phone" style="font-size:16px;color:white"></i><b style="margin-left:10px;">9123353984</b></a></li>
              <li><a href="#"> <i class="fa-solid fa-house" style="font-size:16px;color:white"></i><b style="margin-left:10px;">A/3 Jayasrre Park Lane</b></a></li>
              <li><a href="#"><i class="fa-solid fa-envelope" style="font-size:16px;color:white"></i><b style="margin-left:10px;">sampritghosh310@gmail.com</b></a></li>
              <li><a href="#"><i class="fa-solid fa-location-dot" style="font-size:16px;color:white"></i><b style="margin-left:10px;">9123353984</b></a></li>
       
            </ul>
          </div>
    
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="/">about us</a></li>
              <li><a href="/">our services</a></li>
              <li><a href="/">privacy policy</a></li>
              <li><a href="/">Contact Us</a></li>
            </ul>
          </div>
    
          <div class="footer-col">
            <h4>online shop</h4>
            <ul>
              <li><a href="/">watch</a></li>
              <li><a href="/">bag</a></li>
              <li><a href="/">shoes</a></li>
              <li><a href="/">dress</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a class="social-fb i" href="https://www.facebook.com/samprit.ghosh.396"><i class="fa-brands fa-facebook-f"></i></a>
              <a class="social-tw i"  href="#"><i class="fab fa-twitter"style="color:sky-blue;font-size:13px;"></i></a>
              <a class="social-insta i" href="https://www.instagram.com/legend_samprit/"><i class="fab fa-instagram"></i></a>
              <a class="social-linkd i" href="https://www.linkedin.com/in/samprit-ghosh-5a8a1119b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BKLZmEjttQi2YIytnwnyCog%3D%3D"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
    
      </div>
    
 


    <div class="new_footer_area bg_color">
        <div class="new_footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">

                    </div>
           
                    <div class="col-lg-3 col-md-6">
                        
                    </div>
                </div>
            </div>
            <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
            </div>
        </div>
     
    </div>
    </footer>
    <div id="footer-copyright-info">
      &copy; SAMPRIT GHOSH Inc. 2022. All rights reserved.
    </div>
    </div>  

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <script src="https://kit.fontawesome.com/5b61822651.js" crossorigin="anonymous"></script> -->

<link rel="stylesheet" href="../static/css/footer.css">
